* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}

.box {
  width: 200px;
  height: 200px;
  background-color: aquamarine;
  border: 10px solid black;
  padding: 20px;
  box-sizing: border-box;
}
.place {
  color: red;
}
.count {
  padding: 50px;
}
.module {
  padding: 100px;
}
.modulep {
  padding: 110px;
}

.container-img {
  width: 200px;
  height: 200px;
  border: 3px solid black;
  cursor: pointer;
  background-color: aqua;
}
.Image {
  width: 200px;
  height: 200px;
  border: 3px solid black;
  cursor: pointer;
}
.context {
  border: 3px solid black;
  padding: 30px;
}
.header {
  width: 100vw;
  padding: 30px;
  background-color: burlywood;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Message */
.messApp {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 50%;
  padding: 30px;
  border: 3px solid black;
  background-color: orchid;
}
.Message > textarea {
  width: 80%;
  padding: 20px;
  border: 3px solid black;
}
.Message > input {
  width: 80%;
  padding: 12px;
}
.Message > button {
  width: 50%;
  padding: 12px;
}
